html, body {
    overflow-x: hidden;
    font-size: 16px;
}
section#main {
    z-index: 1;
	-webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
}
section#main.active {
	-webkit-transform: translate3d(80%,0,0);
    transform: translate3d(80%,0,0);
}

/* navigation */
ul.navigation {
    height: 4em;
    margin-bottom: 0em;
}
ul.navigation li{
    background-color:red;
    display: inline;
    float: left;
    line-height: 4em;
    padding: 0 2em;
}
ul.navigation li a{
    color: #fff;
    font-weight: bold;
}

/* off canvas menu */
section#offCanvasMenu {
    background-color: #676767;
    height: 100vh;
    width: 80%;
    position: absolute;
	-webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
	-webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
}
section#offCanvasMenu.active {
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
section#offCanvasMenu ul{
    list-style-type: none;
    padding: 0;
}